.custom-img-width {
    width: calc(100% - 150px);
}


.custom-nav-item-hover:hover {
    background-color: #cccccc;
    color: #000000;
}

.custom-nav-item-hover:hover.active {
    background-color: transparent;
    color: #000000;
}

.custom-nav-item-hover.active .navfontDiv {
    color: #2b789a;
}